
  <div class="hero-unit">

    <% if current_user.leavedates.any? and current_user.leavedates.first.date? and (current_user.leavedates.last.date==nil or current_user.leavedates.last.date>=Date.today)%>

      <h3>Leaves (<%= current_user.leavedates.count %>)</h3>
      <table class="table table-striped table-condensed" >
      <th style="width:200px">
      	Date
      </th>
      <th style="width:300px">
      	Description
      </th>
      <th style="width:300px">
      	Options
      </th>
        <%= render current_user.leavedates %>
      </table>
    <% else %>
      No leaves to show.
    <% end %>
    
</div>
