<% if user_signed_in? %>
<div class="center">
<h3>Welcome <strong><%= current_user.name %></strong></h3>
</div>
<%= render 'leavedates/show_leavedates' %>
<div class="center">
<%= link_to "Want to add leaves?", edit_leave_path, class: "center btn btn-large btn-link" %>
</div>
<% else %>
<div class="center hero-unit">
  <h1>Welcome to the Leave Tracker</h1>

  <h2>
    This is the home page for the Leave Tracker.
  </h2>
</div>
<% end %>